<p>Update password</p>
<form [formGroup]="form">
  <label>Old password:</label>
  <input [formControl]="oldPassControl">
  <label>Password:</label>
  <input [formControl]="newPassControl">
  <label>Repeat Password:</label>
  <input [formControl]="confirmNewPassControl">
  <button (click)="updatePasswordHandler()">Update Password</button>
  <ng-template [ngIf]="!form.valid && form.touched">
    <small *ngIf="isOldPasswordIncorrectError">Old Password is incorrect!</small>
    <small *ngIf="isOldPassRequiredError || isNewPassRequiredError || isConfirmPassRequiredError">
      Please enter old password, new password and confirm it
    </small>
    <small *ngIf="isNewPasswordWeakError">
      Password should contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
    </small>
    <small *ngIf="isPasswordNotMatchError">Confirm Password doesn`t match</small>
  </ng-template>
</form>
