<p>Update password</p>
<form [formGroup]="form">
    <p>{{form.value | json}}</p>
    <p>{{form.valid | json}}</p>
    <!-- <p>{{isLoginRequiredError}}</p>
<p>{{isLoginLengthError}}</p> -->
    <label>Old password:</label>
    <input [formControl]="oldPassControl">
    <label>Password:</label>
    <input [formControl]="newPassControl">
    <label>Repeat Password:</label>
    <input [formControl]="confirmNewPassControl">
    <button (click)="updatePasswordHandler()">Update Password</button>
    <small *ngIf="updatePassStatusMessage">{{updatePassStatusMessage}}</small>
</form>
