<h1>Movies</h1>
<div *ngIf="movieViews && genreList">

  <button mat-raised-button color="primary" (click)="toggleSortHandler()">Sort by Rating</button>
  <mat-form-field appearance="fill">
  <mat-label for="cars">Choose filter:</mat-label>
  <mat-select
    #filter
    (selectionChange)="toggleFilterHandler(filter.value)"
  >
    <mat-option value="none">-</mat-option>
    <mat-option
      *ngFor="let genre of genreList"
      value="{{genre}}"
    >
      {{genre}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <hr>

  <div *ngFor="let movie of movieViews | filterBy: 'genre' : movieFilter | orderBy: 'rating' : movieSortDirection">
    <mf-movie-card [movie]="movie"></mf-movie-card>
    <mf-watch-list
      [isInWhatchList]="movie.isInWatchList"
      [movieId]="movie.id"
    ></mf-watch-list>
  </div>
</div>
<hr>
<button mat-raised-button color="warn" (click)="throwExceptionHandler()">Бросить исключение</button>
