<ng-template [ngIf]="movieDetailsView">

    <h3 >{{movieDetailsView.name}}</h3>
    <p>{{movieDetailsView.year}}</p>
    <p>{{movieDetailsView.description}}</p>
    <p>{{movieDetailsView.rating}}</p>

    <mf-watch-list
        [isInWhatchList]="movieDetailsView.isInWatchList"
        [movieId]="movieDetailsView.id"
    ></mf-watch-list>

    <form
    [formGroup]="form"
>
<label>Name:</label>
    <input [formControl]="nameControl">
    <label>Year:</label>
    <input [formControl]="yearControl">
    <label>Description:</label>
    <input [formControl]="descriptionControl">
    <label>Rating:</label>
    <input [formControl]="ratingControl">
    <label>Genre:</label>
    <input [formControl]="genreControl">
    <button (click)="updateMovieHandler()">Update Movie</button>
</form>

</ng-template>

<a [routerLink]="getMdbDashboardLink()"><= back to movies list</a>
