<ng-template [ngIf]="movieDetails">

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input
        matInput
        [formControl]="nameControl"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Year:</mat-label>
      <input
        matInput
        [formControl]="yearControl"
      >
      <mat-error *ngIf="isYearLessThenMinError">
        Year should be more than {{this.yearControl.errors?.min?.min}}
      </mat-error>
      <mat-error *ngIf="isYearBiggerThenMaxError">
        Year should be less than {{this.yearControl.errors?.max?.max}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description:</mat-label>
      <textarea
        matInput
        [formControl]="descriptionControl"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rating:</mat-label>
      <input
        matInput
        [formControl]="ratingControl"
      >
      <mat-error *ngIf="isRatingLessThenMinError">
        Year should be more than {{this.yearControl.errors?.min?.min}}
      </mat-error>
      <mat-error *ngIf="isRatingMoreThenMaxError">
        Year should be less than {{this.yearControl.errors?.max?.max}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Genre:</mat-label>
      <input
        matInput
        [formControl]="genreControl"
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="updateMovieHandler()"
    >
      Update Movie
    </button>
    <mat-error *ngIf="!form.valid && form.touched && !(isYearLessThenMinError && isYearBiggerThenMaxError && isRatingLessThenMinError && isRatingMoreThenMaxError)">Please fill all the fields</mat-error>
  </form>

</ng-template>

<a
  mat-raised-button
  color="accent"
  [routerLink]="getMdbDashboardLink()"
>
  <= back to movies list
</a>
